body {



    
    width: auto;
    height: 100vh;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: rgb(180, 178, 178);
    background-image: url('./transparente.png');
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 200px;
    display: flex;


    font-family: Georgia, 'Times New Roman', Times, serif
}

/* borda geral*/
.container {
    
    width: auto;
    height: 450px;
    border-radius: 30px;
    display: flex;


}

.form-group {
    border-radius: 5%;
    margin-bottom: 300px;
    margin-top: 200px;
}

.form-group input {
    /*input senha-usuario*/
    width: 400px;
    height: 5vh;
    padding: 7px;
    border: 1px solid hwb(0 2% 100%);
    border-radius: 10%;

}

.form-group button {
    padding: 10px 15px;
    cursor: pointer;
    margin-right: 20px;
}

.form-group button [type="submit"] {
    padding: 19px;
}


.form-group button [type="reset"] {
    border-radius: 200px;
    border-radius: 4px;
}